@model List<Orders>


<div class="container col-sm-12">    
    <div class="row">
        <div class="col-sm-12">
            <h2>SIF Orders</h2> 
        </div>            
    </div> 
    <div class="row">
         <div class="col-sm-12">                     
            <a class="btn btn-primary" asp-action="StartNew" >New order</a>
        </div>  
    </div>         
</div>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">
<h4>This will eventually have filters to only show orders by certain status. We don't have that work flow yet, so can't build that yet (single stage indicator vs bool indicators)</h4>
<div>
    <table id="table" class="table datatable">
        <thead>
            <th></th>            
            <th>Id</th>
            <th>Project Name</th>
            <th>From</th>
            <th>Payment</th>            
            <th>SIF Cust?</th>
            <th>#Analyses</th>
            <th>#Samples</th>
            <th>All Lead Approved</th>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
            <tr>                
                <td><a asp-action="Details" asp-route-id="@order.Id" class="btn btn-primary">View</a></td>
                <td>@order.Id</td>
                <td>@order.ProjectName</td>
                <td>@order.Contact.FullName</td>
                <td>@order.PaymentMethod</td>
                <td><input name="sifCust" type="checkbox" checked=@(order.SIFCustomerID != null) disabled /></td>
                <td>@order.Analyses.Count</td>
                <td>@order.Analyses.Sum(i => i.NumberOfSamples)</td> 

                @if(order.Analyses.Count != 0 && !order.Analyses.Any(a => !a.LeadApproved))                
                {
                    <td><input name="approved" class="col-sm-3 form-control" type="checkbox" checked="checked"/></td>                       
                } else
                {
                    <td></td>
                }                                        
            </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    

    <script>
        $(document).ready( function () {
            $('#table').DataTable({
                dom: 'lBfrtip'                
            });
        } );
    </script>
}