@model List<Ancillary>


    
<div class="container col-sm-12">    
    <div class="row">
        <div class="col-sm-12">
            <h2>Ancillary Charges</h2> 
        </div>            
    </div> 
    @* <div class="row">
         <div class="col-sm-12">                     
            <a class="btn btn-primary" asp-action="Create" >New Anxillary</a>
        </div>  
    </div>          *@
</div>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">
<div>
    <table id="table" class="table datatable">
        <thead>
            <th></th>            
            <th>Description</th>
            <th>Internal Cost</th>
            <th>External Cost</th>
            <th>Item Code</th>            
        </thead>
        <tbody>
            @foreach (var ancillary in Model)
            {
            <tr>                
                <td><a asp-action="Edit" asp-route-id="@ancillary.Id" class="btn btn-primary">Edit</a></td>                
                <td>@ancillary.Description</td>
                <td>@String.Format("{0:n2}", (ancillary.InternalCost))</td>
                <td>@String.Format("{0:n2}", (ancillary.ExternalCost))</td>
                <td>@ancillary.ItemCode</td>
            </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    

    <script>
        $(document).ready( function () {
            $('#table').DataTable({
                dom: 'lBfrtip',
                "pageLength" : 50,
            });
        } );
    </script>
}
