@model SIFCore.Models.ShippingAddresses;


<h2>Scientific Contact Details</h2> 
<div class="container col-lg-5"> 
    <div class="row">
        <a asp-action="ShippingEdit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a> | 
        <a asp-action="Index" asp-area="client" asp-controller="Address" class="btn btn-info">Back to List</a>
    </div>       
    <div class="form-group row">
        <label asp-for="AddressName" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
             @Html.DisplayFor(x => x.AddressName)
        </div>                       
    </div>
    <div class="form-group row">
        <label asp-for="Institution" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.Institution)
        </div>
    </div>    
    <div class="form-group row">
        <label asp-for="Department" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.Department)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PIFirstName" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.PIFirstName)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PILastName" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.PILastName)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PIEmail" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.PIEmail)
        </div>
    </div>  
    <div class="form-group row">
        <label asp-for="PIPhone" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.PIPhone)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ResearcherFirstName" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.ResearcherFirstName)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ResearcherLastName" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.ResearcherLastName)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ResearcherEmail" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.ResearcherEmail)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ResearcherPhone" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.ResearcherPhone)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Address1" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.Address1)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Address2" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.Address2)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="City" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.City)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="State" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.State)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ZipCode" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.ZipCode)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Country" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.DisplayFor(x => x.Country)
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Notes" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
           @Html.DisplayFor(x => x.Notes)
        </div>
    </div>
    <div class="row">
       <a asp-action="ShippingEdit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a> | 
        <a asp-action="Index" asp-area="client" asp-controller="Address" class="btn btn-info">Back to List</a>
    </div>
</div>