@model SIFCore.Models.CreateOrdersViewModel

<h2>@Model.Order.ProjectName Details</h2>

@if(Model.Analyses.Count!=0)
{
    <table border="0" width="100%">
        <tr>
            <th>View/Edit</th>
            <th></th>
            <td>&nbsp;</td>
            <th>Analysis</th>
            <th># samples</th>
            <th>NA/Enriched</th>
            <th>Estimated Price<sup>*</sup></th>
            <th>Sample List<sup>&dagger;</sup></th>
        </tr>
        @foreach (var item in Model.Analyses)
        {
            <tr>
                <td><a href="#" onclick="loadForm(@item.Id, 'details')">View/Edit</a></td><td>@Html.ActionLink("Delete", "Delete", "Analysis", new {id = item.Id}, null) </td>
                <td></td>
                <td>@Html.Raw(item.AnalysisRequirement.FormattedName)</td>
                <td>@item.NumberOfSamples</td>
                <td>@item.Abundance</td>
                <td>@String.Format("{0:c}", (item.AnalysisRequirement.Cost*item.NumberOfSamples))</td>
                <td align="center">
                    @if (item.AttachmentName != null)
                    {
                        <a href="@Url.Action("GetFileFromDisk", "Home", new {id = item.Id})">@item.AttachmentName</a>
                        <a href='@Url.Action("DeleteFile", new {id = item.Id})' class="btn" title="Delete Attachment"><i class='icon icon-trash'></i></a>
                    }
                    else
                    {
                        <a href="@Url.Action("AddFile", "Analysis", new {id = item.Id})" title="Upload Attachment" class="btn"><i class="icon-upload"></i></a>
                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="7"><sup>*</sup>Ancillary charges (such as weighing and transfers) are not included.<br/>
                <sup>&dagger;</sup>Use the <i class="icon-upload"></i> link to add a new sample list. If you need to replace this file, please delete the existing file using the <i class="icon-trash"></i>, 
                then upload new file. Please review our <a href="http://stableisotopefacility.ucdavis.edu/analysisorderform.html" target="_blank">Sample List Templates</a>. Only one file per analysis allowed. Please upload file
                for each analysis, even is list is same for each one.
            </td>
        </tr>
    </table>
}

<br/>

 
<table>
    <tr>
        <td valign="top">
            <h3>Select items in the tree to add a new analysis.</h3>
            <div id="AnalysisTree" class="demo" style="height:100px; overflow: auto; height: 300px; width: 350px">
                <ul>
                    @foreach (var analysisTypesItem in Model.AnalysisTypes)
                    {
                        <li><a href="?@analysisTypesItem.Id">@Html.Raw(analysisTypesItem.CategoryName)</a>
                            <ul>
                                @foreach(var requirementItem in Model.Requirements.Where(a=> a.AnalysisType.Id == analysisTypesItem.Id))
                                {
                                    <li>
                                        <a href="#" onclick="loadPage(@Model.Order.Id, @requirementItem.Id);">@Html.Raw(requirementItem.FormattedName)</a>
                                    </li>   
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </td>
        <td valign="top"><div id="AnalysisPartial"></div></td>
    </tr>
</table>

@section Scripts
{
  
    
    @*JS tree *@
    @*@Scripts.Render("~/bundles/jstreeview")*@
    <script src="/Scripts/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.10/jstree.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="/Scripts/jquery.hotkeys.js"></script>

    <script type="text/javascript">
       
     $(function () {
            $("#AnalysisTree")
                .jstree({
                   "plugins": ["themes", "html_data", "ui"],
                   "themes": { "dots": false, "theme": "default" }
                   
                });
     });
     
     function loadForm(analysisid, loadtype) {
         var loadURL;
         if (loadtype == 'details') {
             loadURL = '@Url.Action("DetailsPartial", "Analysis")' + '/' + analysisid;
             $('#AnalysisPartial').load(loadURL);
         }
     }

     function loadPage(orderId, requirementId) {        
         window.location = '/Analysis/Create/' + orderId + '?requirementId=' + requirementId;
     }
       

    </script>

}
